{% capture setup %}{{site.baseurl}}/setup{% endcapture %}
{% capture apis %}{{site.baseurl}}/apis{% endcapture %}
{% capture libs %}{{site.baseurl}}/libs{% endcapture %}
{% capture internals %}{{site.baseurl}}/internals{% endcapture %}
    <!-- Top navbar. -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- The logo. -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-logo">
            <a href="{{ site.baseurl }}/"><img alt="Zuo's Blog" src="{{ site.baseurl }}/page/img/zuo-blog-logo.jpg"></a>
          </div>
        </div><!-- /.navbar-header -->

        <!-- The navigation links. -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li{% if page.url == '/index.html' %} class="active"{% endif %}><a href="{{ site.baseurl}}/index.html">About me<span class="hidden-sm hidden-xs"></span></a></li>

            <!-- bigdata -->
            <li class="dropdown{% if page.url contains bigdata %} active{% endif %}">
              <a href="{{ bigdata }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">BigData <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ bigdata }}/impala.html"><strong>Impala</strong></a></li>
                <li class="divider"></li>
                <li><a href="{{ bigdata }}/carbondata.html" class="active"><strong>CarbonData</strong></a></li>
				<li class="divider"></li>
				<li><a href="{{ bigdata }}/spark.html"><strong>Spark</strong></a></li>
              </ul>
            </li>

            <!-- ai -->
            <li class="dropdown{% if page.url contains ai %} active{% endif %}">
              <a href="{{ ai }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">AI <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ ai }}/petuum.html"><strong>Petuum</strong></a></li>
		        <li class="divider"></li>
                <li><a href="{{ ai }}/mxnet.html"><strong>Mxnet</strong></a></li>
				<li class="divider"></li>
				<li><a href="{{ ai }}/tensorflow.html"><strong>Tensorflow</strong></a></li>
				<li class="divider"></li>
				<li><a href="{{ ai }}/paddle.html"><strong>Paddle</strong></a></li>
              </ul>
            </li>

            <!-- others -->
            <li class="dropdown{% if page.url contains others %} active{% endif %}">
              <a href="{{ others }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Others <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">                
                <li><a href="{{ others }}/blockchain.html"><strong>Blockchain</strong></a></li>
				<li class="divider"></li>
                <li><a href="{{ others }}/programming.html"><strong>Programming</strong></a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right hidden-sm hidden-md" role="search" action="{{site.baseurl}}/search-results.html">
            <div class="form-group">
              <input type="text" class="form-control" name="q" placeholder="Search all pages">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>
